@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --branco: #fff8f0;
    --branco1: #fffafb;
    --branco2: #fffcf7 ;
    --branco3: #f7f4ea;
    --branco4: #fffcf9 ;
    --font-titulo: "Roboto Condensed", sans-serif;
    --font-texto: "Ancizar Serif", serif;
}

body{
    background-color: var(--branco2);
    color: var(--branco3);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: var(--font-texto);
}

.caixa-principal{
    background-color: var(--branco);
    width: 90%;
    text-align: center;
    padding: 20px;
}

.titulo{
    font-family: var(--font-titulo);
}